.aboutMe {
	color: $lightColor;
	font-style: normal;
	font-size: 1.4rem;
	line-height: 2.2rem;
	letter-spacing: 0.01em;
	margin-bottom: 5rem;

	span {
		font-family: $headerFont;
		font-weight: bold;
		font-size: 1.9rem;
		line-height: 2.7rem;
		letter-spacing: 0.08em;
		text-transform: uppercase;
	}
	img {
		width: 100%;
		height: auto;
		margin-bottom: 2rem;
	}

	p {
		margin-bottom: 2rem;
	}
}
