.formWrap {
	display: flex;
	justify-content: center;
}

.myForm {
	width: 80%;
}

.myContact {
	position: relative;
	background: #1c1c28;
	border: $borderStyle;
	margin-bottom: 6rem;
	max-width: 600px;

	&:before {
		position: absolute;
		content: '';
		right: -1px;
		top: -1px;
		border-top: 30px solid $mainColor;
		border-left: 30px solid transparent;
	}
	:after {
		position: absolute;
		content: '';
		right: -2px;
		top: -2px;
		border-top: 30px solid #000;
		border-left: 30px solid transparent;
	}

	h3 {
		color: $accentTwo;
		font-style: normal;
		font-size: 1.9rem;
		line-height: 2.7rem;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		padding-top: 2rem;
		padding-left: 2rem;
		margin-bottom: 2rem;
	}

	&Item {
		margin-bottom: 1.5rem;
	}

	&Input {
		display: block;
		border: $borderStyle;
		padding: 0.5rem;
		background: $darkColor;
		color: $lightColor;
		font-family: $bodyFont;
		font-style: normal;
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2.2rem;
		letter-spacing: 0.01em;
		width: 100%;
	}

	textarea {
		height: 15rem;
	}

	&Btn {
		margin-bottom: 2rem;
	}

	&Social {
		padding: 1.5rem;
		border-top: $borderStyle;

		ul {
			display: flex;
			justify-content: space-around;
		}

		li {
			font-size: 3rem;
		}

		li a {
			color: $lightColor;
			&:hover,
			&:focus {
				color: $accentOne;
			}
		}
	}
}
