// Credit for animation https://codepen.io/webdevshorts/pen/xmGbBX
header {
		background: url(../../img/purple-holodeck-style.jpg) no-repeat bottom;
		height: 100vh;
		width: 100%;
}


.headerContent {
	position: relative;
	height: 100%;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	

	

	.myName  {
		height: 35rem;
		position: absolute;
		top: 2rem;
		left: 0;
	}

.tagline  {
	font-family: $h1Header;
	font-size: 4.5rem;
	text-align: center;
	line-height: 5.8rem;
	font-weight: normal;
	margin-bottom: 2rem;
	font-style: 400;

	span {
		display:block ;
	}
	
}

	

	&Social {
		position: absolute;
		font-size: 3rem;
		top: 40%;
		right: 0;
		transform: translateY(-20%);

		li {
			margin-bottom: 1rem;
			border-bottom: 1px solid $accentTwo;
			padding-bottom: 2rem;

			&:last-child {
			margin-bottom: 0;
			border-bottom: 0;
			padding-bottom: 0;	
			}
		}


		a {
			color: $mainColor;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: #b19cd9;
			}
		}
	}
}





