// Credit for animation https://codepen.io/webdevshorts/pen/xmGbBX
header {
		background: url(../../img/purple-holodeck-style.jpg) no-repeat bottom;
		height: 100vh;
		width: 100%;
}


.headerContent {
	position: relative;
	height: 100%;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	

	h1 {
		position: absolute;
		top: 20px;
		left: 0;
		font-size: 3rem;
		margin-bottom: 2rem;
		border: 1px solid $mainColor;
		width: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		text-transform: uppercase;
		color: $accentTwo;
		letter-spacing: 1.2;
		
	
		span:nth-child(6) {
			border-bottom: 1px solid $mainColor;
		}
	}

.tagline  {
	font-family: $h1Header;
	font-size: 4rem;
	text-align: center;
	line-height: 5.2rem;
	letter-spacing: -0.01em;
	font-weight: normal;
	margin-bottom: 2rem;

	span {
		display:block ;
	}
	
}

	

	&Social {
		position: absolute;
		font-size: 3rem;
		top: 40%;
		right: 0;
		transform: translateY(-20%);

		li {
			margin-bottom: 1rem;
			border-bottom: 1px solid $accentTwo;
			padding-bottom: 2rem;

			&:last-child {
			margin-bottom: 0;
			border-bottom: 0;
			padding-bottom: 0;	
			}
		}


		a {
			color: $mainColor;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: #b19cd9;
			}
		}
	}
}



// .bsg-box {
// 	width: 800px;
// 	border: 1px solid red;
// 	height: 200px;
// 	background: red;
// 	-webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 90% 0);
// 	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 90% 0);
// }

