main {
	background: $darkColor;

	h2 {
		font-style: normal;
		font-weight: bold;
		font-size: 1.2rem;
		line-height: 2.2rem;
		text-align: center;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		border: 1px solid $mainColor;
		color: $accentTwo;
		background: $darkColor;
		display: inline;
		padding: 0.5rem 6rem;
	}
}

.boxHeadings {
	display: flex;
	margin-bottom: 2rem;
	&:before,
	&:after {
		content: '';
		flex: 1 1;
		border-bottom: 1px solid $mainColor;
		margin: auto;
	}
}

.aboutMe {
	color: $lightColor;
	font-style: normal;
	font-size: 1.4rem;
	line-height: 2.2rem;
	letter-spacing: 0.01em;
	margin-bottom: 2rem;

	span {
		font-family: $headerFont;
		font-weight: bold;
		font-size: 1.9rem;
		line-height: 2.7rem;
		letter-spacing: 0.08em;
		text-transform: uppercase;
	}
	img {
		width: 100%;
		margin-bottom: 2rem;
	}
}

.skills {
	position: relative;
	border: 1px solid $mainColor;
	padding: 2rem;
	margin-bottom: 3rem;

	h2 {
		display: inline-block;
		width: 70%;
	}

	&Title {
		position: absolute;
		top: -10px;
		margin: 0 auto;
		left: 0;
		right: 0;
		text-align: center;
	}

	&Icon {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-items: center;
		grid-row-gap: 4rem;
		padding: 0.5rem 1rem;
		margin-top: 3rem;
	}
}

.formWrap {
	display: flex;
	justify-content: center;
}

form {
width: 90%;
}

.myContact {
	
	background: #222;
	border: 1px solid $mainColor;
	margin-bottom: 2rem;

	h3 {
		color: $accentTwo;
		font-style: normal;
		font-size: 1.9rem;
		line-height: 2.7rem;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		padding-top: 1rem;
		padding-left: 1rem;
		margin-bottom: 2rem;
	}

	&Item {
		margin-bottom: 1.5rem;
	}

	&Input {
		display: block;
		border: 1px solid $mainColor;
		padding: 0.5rem;
		background: $darkColor;
		color: $lightColor;
		font-family: $bodyFont;
		font-style: normal;
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2.2rem;
		letter-spacing: 0.01em;
		width: 100%;
		
	}

	&Btn {
		width: 40%;
		margin-bottom: 2rem;
	}

	&Social {
		padding: 1.5rem;
		border-top: 1px solid $mainColor;
				

		ul {
			display: flex;
			justify-content: space-around;

		}

		li {
			font-size: 3rem;
		}
		
		li a {
			color: $lightColor;
		}

	}

}
