@media (min-width: 375px) {
	.btn {
		padding: 1.5rem 1.6rem;
	}
}

@media (min-width: 450px) {
	.btn {
		padding: 1.5rem 3.2rem;
	}
}

@media (min-width: 550px) {
	.btn {
		padding: 1.5rem 5.3rem;
	}

	.skilllogo {
		width: 4rem;
	}
}

@media (min-width: 650px) {
	.navBar {
		width: 50%;
	}

	.aboutMe img {
		display: block;
		max-width: 600px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.btn {
		padding: 1.5rem 7.5rem;
	}

	.skilllogo {
		width: 4rem;
	}
}

@media (min-width: 750px) {
	.headerContent .tagline {
		font-size: 6.5rem;
		line-height: 70px;
		margin-right: 4.2rem;
		margin-left: 4.2rem;
		span {
			display: inline;
		}
		.wTwo {
			display: block;
		}
	}
	.headerContent .myName {
		height: 40rem;
		top: 4.7rem;
	}

	.projectBox {
		grid-template-columns: 3fr 2fr 60px;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			'title . .'
			'main content side'
			'buttons content side';

		&Title {
			border-right: 1px solid $mainColor;
			border-bottom: 1px solid $mainColor;
			h3 {
				font-size: 2.4rem;
			}
		}

		&Side {
			border-top: 1px solid $mainColor;
			padding-top: 2rem;
			width: 100%;
			text-align: center;

			ul {
				padding: 0 1rem 0 0;
			}
		}

		&Body {
			border-right: 1px solid $mainColor;
		}

		&Buttons {
			border-right: 1px solid $mainColor;
			justify-content: space-evenly;
		}

		&Copy p {
			font-size: 1.5rem;
		}
	}
	.btn {
		padding: 1.5rem 3.4rem;
	}

	main h2 {
		width: 50rem;
		font-size: 1.5rem;
	}
}

@media (min-width: 800px) {
	.navBar {
		width: 40%;
	}
	.projectBox {
		grid-template-columns: 3fr 2fr 70px;
	}

	.aboutMe {
		display: flex;

		img {
			flex: 1;
			height: auto;
			width: 100%;
			object-fit: cover;
		}

		&Text {
			margin-left: 2rem;
			flex: 1;
			font-size: 1.6rem;
			line-height: 24px;
		}
	}
	.skilllogo {
		width: 5rem;
	}
}

@media (min-width: 1050px) {
	.headerContent .tagline {
		font-size: 7rem;
		line-height: 80px;
	}

	.btn {
		padding: 1.5rem 6.5rem;
	}

	.projectBox {
		&Copy p {
			padding: 3rem;
			font-size: 1.8rem;
			line-height: 3.3rem;
		}
	}

	.aboutMeText {
		font-size: 1.8rem;
		line-height: 27px;
	}
}
