.projectBox {
	position: relative;
	background: #1c1c28;
	color: #fff;
	border: $borderStyle;
	margin-bottom: 3rem;
	display: grid;
	grid-template-columns: 2fr 60px;
	border-radius: 2px;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas:
		'title . '
		'main side'
		'buttons side'
		'content content';

	&:before {
		position: absolute;
		content: '';
		right: -1px;
		top: -1px;
		border-top: 30px solid $mainColor;
		border-left: 25px solid transparent;
	}
	:after {
		position: absolute;
		content: '';
		right: -2px;
		top: -2px;
		border-top: 30px solid #000;
		border-left: 25px solid transparent;
	}

	&:last-child {
		margin-bottom: 6rem;
	}

	&Title {
		grid-area: title;
		padding: 1.3rem 1rem 0.5rem 1rem;

		h3 {
			padding: 1rem;
			font-style: normal;
			font-weight: bold;
			font-size: 1.9rem;
			line-height: 2.7rem;
			letter-spacing: 0.09em;
			text-transform: uppercase;
			white-space: nowrap;
		}
	}
	&Body {
		grid-area: main;
		img {
			width: 100%;
		}
	}
	&Buttons {
		grid-area: buttons;
		display: flex;
		justify-content: space-between;
		padding: 1.4rem 0rem 1.4rem 1.4rem;

		button {
			width: 48%;
		}
	}
	&Copy {
		grid-area: content;
        border-top: $borderStyle;

		p {
			font-style: normal;
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 2.2rem;
			letter-spacing: 0.01em;
			padding: 2rem
		}
	}
	&Side {
		grid-area: side;
		justify-self: center;

		ul {
			padding: 0 1rem;
		}

		li {
			border-bottom: $borderStyle;
			padding-bottom: 1.5rem;
			margin-bottom: 1.5rem;

			&:last-child {
				border-bottom: none;
			}
		}

		img {
			width: 100%;
		}
	}
}
