$h1Header: 'Chakra Petch', sans-serif;
$headerFont: 'Quantico', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

$mainColor: #9999ff;
$lightColor: #fff;
$darkColor: #000;
$accentOne: #ffb800;
$accentTwo: #42ccaa;
